* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0;
    margin: 0;
    padding: 0;
}

#sidebar {
    background-color: grey;
    width: 30%;
    height: 100%;
    position: fixed;
    overflow-x: wrap;
    overflow-y: scroll;
}

p {
    font-size: 20px;
}

h1 {
    font-size: 25px;
}

head,body,html {
    overflow: hidden;
}

.progress_bar {
    position: relative;
    width: 95%;
    background-color: dimgray;
    left: 2.5%;
    border-radius: 5px;
}

.filler {
    opacity: 0;
    visibility: hidden;
}

.inner_progress_bar {
    position: relative;
    background-color: darkgray;
    width: 0%;
    border-radius: 5px;
    white-space: nowrap;
}

#bottom_bar {
    text-align: right;
    width: 100%;
    height: fit-content;
    position: fixed;
    bottom: 0;
}

#tabs {
    width: 70%;
    background-color: darkgrey;
    position: fixed;
    left: 30%;
    text-align: center;
}

.tab {
    float: left;
    background-color: gray;
    /*padding: 2.5px;*/
    height: fit-content;
    width: 33.333%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}

.tab.selected {
    background-color: dimgray;
}

#content {
    background-color: dimgray;
    width: 70%;
    height: 100%;
    position: fixed;
    float: right;
    left: 30%;
    right: 0;
    text-align: left;
    overflow-x: scroll;
}

.job_div, .advance_div {
    border-radius: 10px;
    width: 95%;
    margin: 1.25%;
    background-color: gray;
    padding: 10px;
}

.price_h1, .section, .large_text{
    font-size: 45px;
}

.center {
    text-align: center;
}

.reset {
    color: darkred;
}

button {
    background-color: gray;
    color: darkred;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}

button#import_export, button#code_button, button#rebirth_button {
    color: black !important;
}

button#rebirth_button {
    background-color: dimgray !important;
}